.hero-unit
  %h1 Make your startup a reality.
  %p
    Do you have a great vision for a startup, but no technical cofounder?  We can build your lean startup's Minimum Viable Product (MVP) quickly and inexpensively so you can validate your market immediately.  If your product is a fit for our approach, <strong>the entire process from concept to MVP will cost you only $5,000</strong>.
  %p
    = link_to 'Get started &raquo;'.html_safe, new_customer_path, class: 'btn btn-danger btn-large pull-right'

.row
  .span4
    %h2 Experienced
    %p
      Our team consists only of top quality engineering talent with many years of experience delivering successful software projects.  We don't offshore or farm out projects to subcontractors; your project will be completed directly by a Devscoop employee.  We know you have more important things to do than worry about the quality of your software and we're here to make sure you never have to.
  .span4
    %h2 Innovative
    %p
      We focus on methods and technologies which will give your startup the foundation it needs to succeed.  We deliver a reliable, quality product on a predictable timeline using tools which will help you stay on the leading edge of technology and attract the best technical talent to work on your product later.  Our unique project dashboard keeps you always up to date.
  .span4
    %h2 Cost Effective
    %p
      There's no more cost-effective way to realize your vision than to build a minimum viable product you can get out to potential users immediately.  Once you've validated your market and learned from your valuable early adopters you can build on the foundation to grow your startup.  If you want to continue work on your product with us after delivery, Devscoop consultants will be ready to take it to the next level.
